<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639597782806-4hbmejvkrhqpto68f6snoa9r8m41nemq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639597782806-4hbmejvkrhqpto68f6snoa9r8m41nemq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639597782806-9l0hgkpvet57d5pbaa1pfh6n2isk4kiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDb-nSzdy30K3BJiNVYin0nrWISfNMXMzE</string>
	<key>GCM_SENDER_ID</key>
	<string>639597782806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nguyenduc.bookBrain</string>
	<key>PROJECT_ID</key>
	<string>book-brain-cc654</string>
	<key>STORAGE_BUCKET</key>
	<string>book-brain-cc654.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639597782806:ios:00465c72e700351f015237</string>
</dict>
</plist>
